<style>

		* {
		  box-sizing: border-box;
		}
		
		body{
			margin:0;
			background:#EEDBCD;
		}
		
		.header{
			top:0;
			position:sticky;
			text-align: center;
			background:#CDCDCD;	
			font-size: 25px;
			float:left;
			width:100%;
			z-index:5
		}	
		
			.definition{
				width:50%;
				height:40px;
				margin:auto;
				font-size:15px;
			}
		
		.NavBar{
			top:118px;
			position:sticky;
			padding:0px;
			width:100%;
			background-color:black;
			font-size:15px;
			float:left;
			z-index:4;
			}
		
			.NavBar a{
				display:block;
				float:left;
				padding:10px;
				padding-right:25px;
				color:#CDCDCD;
				text-decoration:none;
			}
			
			.NavBar a:hover{
				background-color:gray;
				color:black;
			}
		
			
		.col{
			box-sizing:border-box;
			float:left;
			padding:5px;
			background:#EEDBCD;	
			width:33.3333%;
			text-align:center;
			z-index:0;
		}
		.col img{
			width:40%;
			position:relative;
		}
		
		#zero{
		 z-index:3;
		 width:250px;
		}

		#one{
			right:800px;
			top:0px; 
			position:relative;
			opacity:0;
			animation-name:one;
			animation-duration:3s;
			animation-fill-mode:forwards;
		}
		@keyframes one{
			from{right:800px; top:0px; opacity:0;}
			to{ right:0px; top:0px; opacity:1}
		}
		
		#two{
			right:1600px;
			top:0px;
			opacity:0;
			position:relative;
			animation-name:two;
			animation-duration:3s;
			animation-fill-mode:forwards;
		}
		@keyframes two{
			from{right:1600px; top:0px; opacity:0}
			to{ right:0px; top:0px; opacity:1}
		}
		
		#three{
			right:0px;
			bottom:400px;
			opacity:0;
			position:relative;
			animation-name:three;
			animation-duration:3s;
			animation-fill-mode:forwards;
		}
		@keyframes three{
			from{right:0px; bottom:400px; opacity:0}
			to{ right:0px; bottom:0px; opacity:1}
		}
		
		#four{
			right:800px;
			bottom:400px;
			opacity:0;
			position:relative;
			animation-name:four;
			animation-duration:6s;
			animation-fill-mode:forwards;
		}
		@keyframes four{
			0%{right:800px; bottom:400px; opacity:0}
			50%{ right:0px; bottom:400px; opacity:0.5}
			100%{right:0px; bottom:0px; opacity:1}
		}	
		
		#five{
			right:1600px;
			bottom:400px;
			opacity:0;
			position:relative;
			animation-name:five;
			animation-duration:6s;
			animation-fill-mode:forwards;
		}
		@keyframes five{
			0%{right:1600px; bottom:400px; opacity:0}
			50%{ right:0px; bottom:400px; opacity:0.5}
			100%{right:0px; bottom:0px; opacity:1}
		}
		
		#six{
			right:0px;
			bottom:800px;
			opacity:0;
			position:relative;
			animation-name:six;
			animation-duration:3s;
			animation-fill-mode:forwards;
		}
		@keyframes six{
			from{right:0px; bottom:800px; opacity:0}
			to{right:0px; bottom:0px; opacity:1}
		}
	
		#seven{
			right:800px;
			bottom:800px;
			opacity:0;
			position:relative;
			animation-name:seven;
			animation-duration:6s;
			animation-fill-mode:forwards;
		}
		@keyframes seven{
			0%{right:800px; bottom:800px; opacity:0}
			50%{ right:0px; bottom:800px; opacity:0.5}
			100%{right:0px; bottom:0px; opacity:1}
		}
	
		#eight{
			right:1600px;
			bottom:800px;
			opacity:0;
			position:relative;
			animation-name:eight;
			animation-duration:6s;
			animation-fill-mode:forwards;
		}
		@keyframes eight{
			0%{right:1600px; bottom:800px; opacity:0}
			50%{ right:0px; bottom:800px; opacity:0.5}
			100%{right:0px; bottom:0px; opacity:1}
		}
		
		#nine{
			right:0px;
			bottom:1600px;
			opacity:0;
			position:relative;
			animation-name:nine;
			animation-duration:3s;
			animation-fill-mode:forwards;
		}
		@keyframes nine{
			from{right:0px; bottom:1600px; opacity:0}
			to{right:0px; bottom:0px; opacity:1}
		}
		
		#ten{
			right:800px;
			bottom:1200px;
			opacity:0;
			position:relative;
			animation-name:ten;
			animation-duration:6s;
			animation-fill-mode:forwards;
		}
		@keyframes ten{
			0%{right:800px; bottom:1200px; opacity:0}
			50%{ right:0px; bottom:1200px; opacity:0.5}
			100%{right:0px; bottom:0px; opacity:1}
		}
		
		.row{
			clear:left;
			padding:5px;
			background:#EEDBCD;			
			text-align:center;

		}
		.row li{
			list-style-type:none;
		}
		
		li{
			padding:10px;
		}
		
		#graph{
			float:left;
			width:90%; 
			margin:0 5%;
			background:#EEDBCD;	
		}
		

		.video{
			float:left;
			margin: 20px 25vw;
		}
		.video{
			text-align:center;
		}
		
		.footer{
			margin-top:10px;
			position:sticky;
			bottom:0;
			float:left;
			background:#000000;
			width:100%;
			color:#CDCDCD;
		}
			.footer p{
				font-size:23px;
				display:block;
				float:right;
				margin:0;
				padding:0;
				margin:4px;
			}
		.footer a{
			margin-right:5px;
			display:block;
			float:left;
			height:36px;
		}
	
		.pshs{
		background: url('../images/Spritesheet1.png') no-repeat -5px -4px;
		width: 234px;
		height: 34px;
		}
		.twt{
			background: url('../images/Spritesheet1.png') no-repeat -252px 5px;
			width: 30px;
			height: 24px;
		}
		.fb{
			background: url('../images/Spritesheet1.png') no-repeat -284px 0;
			width: 34px;
			height: 34px;
		}
		
		.resources{
			clear:left;
			margin-top:10px;
			padding:0px;
			width:600px;
			float:left;
			font-size:8px;
			font-style:italic;
		}
		
			@media screen and (max-width: 600px){
		  .col{
			width: 100%;
		  }
		}
			@media screen and (max-width: 600px){
		  .video{
			width: 100%;
		  }
</style>